{% load static %}
       <!doctype html>
        <html lang="en">
         
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        
            <link href="{% static 'vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/charts/chartist-bundle/chartist.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/charts/morris-bundle/morris.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/charts/c3charts/c3.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
            <title>TripWatch</title>
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                // Add smooth scrolling to all links
                $("a").on('click', function(event) {
        
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
        
                    // Store hash
                    var hash = this.hash;
        
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                    } // End if
                });
                });
            </script>
        
        </head>
        
        <body>
            <!-- ============================================================== -->
            <!-- main wrapper -->
            <!-- ============================================================== -->
            <div class="dashboard-main-wrapper">
                <!-- navbar and sidebar -->
                <!-- navbar -->
                <div class="dashboard-header">
                    <nav class="navbar navbar-expand-lg bg-white fixed-top">
                        <a class="navbar-brand" href="{% url 'home' %}">TripWatch</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-right-top">
                                <li class="nav-item">
                                    <div id="custom-search" class="top-search-bar">
                                        <input class="form-control" type="text" placeholder="Search..">
                                    </div>
                                </li>
                                <li class="nav-item dropdown notification">
                                    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                        <li>
                                            <div class="notification-title"> Notification</div>
                                            <div class="notification-list">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action active">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="{% static 'images/avatar-2.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                                <div class="notification-date">2 min ago</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="{% static 'images/avatar-3.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                                <div class="notification-date">2 days ago</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="{% static 'images/avatar-4.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                                <div class="notification-date">2 min ago</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="{% static 'images/avatar-5.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                                <div class="notification-date">2 min ago</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-footer"> <a href="#">View all notifications</a></div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown connection">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                        <li class="connection-list">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/github.png' %}" alt="" > <span>Github</span></a>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/dribbble.png' %}" alt="" > <span>Dribbble</span></a>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/dropbox.png' %}" alt="" > <span>Dropbox</span></a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/bitbucket.png' %}" alt=""> <span>Bitbucket</span></a>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/mail_chimp.png' %}" alt="" ><span>Mail chimp</span></a>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <a href="#" class="connection-item"><img src="{% static 'images/slack.png' %}" alt="" > <span>Slack</span></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="conntection-footer"><a href="#">More</a></div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown nav-user">
                                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/person_8.jpg' %}" alt="" class="user-avatar-md rounded-circle"></a>
                                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                        <div class="nav-user-info">
                                            <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                            <span class="status"></span><span class="ml-2">Available</span>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- end navbar -->

                <!-- left sidebar -->
                <div class="nav-left-sidebar sidebar-dark">
                    <div class="menu-list">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav flex-column">
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home' %}"> Fetch New and Classify Messages</a>
                                    </li> -->
                                    <li class="nav-divider">
                                        Menu
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'home' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Feedback Reports <span class="badge badge-success">6</span></a>
                                        <div id="submenu-1" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <!-- <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'search_route' %}">Check Critical Feedback Per Route</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'home' %}">Driver Feedback</a>
                                                </li> -->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'homeee' %}"> Reports Today</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'weekly_report' %}"> Reports This Week</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'monthly_report' %}"> Reports This Month</a>
                                                </li>
                                                <!-- <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'home' %}">Conductor Feedback</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'home' %}">Vehicle Condition Feedback </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </li>
                                    
                                    <li class="nav-divider">
                                        General Reports
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'vehicle' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Overall Sacco Rankings </a>
                                        <div id="submenu-4" class="collapse submenu" >
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'sacco' %}">Best Saccos</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'sacco' %}">Worst Saccos</a>
                                                </li>
                                        </div>
                                    </li>
                                   
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="{% url 'drivers' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-7"><i class="fab fa-fw fa-wpforms"></i>Driver Reports <span class="badge badge-secondary">New</span></a>
                                        <div id="submenu-2" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'drivers' %}">Highest Rated Drivers</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'drivers' %}">Worst Rated Drivers</a>
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </li> -->
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="{% url 'conductor' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Conductor Reports </a>
                                        <div id="submenu-3" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'conductor' %}">Best Rated Conductors</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'conductor' %}">Worst Rated Conductors</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'vehicle' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Repeat Offenders Report </a>
                                        <div id="submenu-6" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'repeat_sacco' %}">Vehicles</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'repeat_sacco' %}">Saccos</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    
                                    <!-- <li class="nav-divider">
                                        Reports Per Route
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'search_route_details' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-7"><i class="fab fa-fw fa-wpforms"></i>Route Reports <span class="badge badge-secondary">New</span></a>
                                        <div id="submenu-10" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'search_route_details' %}">View Route Reports</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> -->
                                    
                                    <li class="nav-divider">
                                        Reports Per Sacco
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'vehicle' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Individual Sacco Reports </a>
                                        <div id="submenu-5" class="collapse submenu" >
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'search_sacco' %}">View Sacco Reports</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    
                                    <!-- <li class="nav-divider">
                                        View Graphical Reports
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'display_charts' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Graphical Reports </a>
                                        <div id="submenu-11" class="collapse submenu" >
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'display_charts' %}">View Graphs</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> -->

                                
                                 
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="{% url 'harrassment' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Reports Per Route </a>
                                        <div id="submenu-7" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'harrassment' %}">Women</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'harrassment' %}">PWD</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>   -->
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="{% url 'vehicle' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-6"><i class="fab fa-fw fa-wpforms"></i> Repeat Offenders Report </a>
                                        <div id="submenu-8" class="collapse submenu" >
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'vehicle' %}">Vehicles</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'sacco' %}">Saccos</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>   
                                    <!-- <li class="nav-divider">
                                        Registrations
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register_member' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-table"></i> Register Sacco Member </a>
                                        <div id="submenu-6" class="collapse submenu">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'register_member' %}">Register new Vehicle</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'register_member' %}">Worst Rated Saccos</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register_driver' %}" aria-expanded="false" aria-controls="submenu-6"><i class="fas fa-fw fa-table"></i> Register Driver  </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register_conductor' %}" aria-expanded="false" aria-controls="submenu-6"><i class="fas fa-fw fa-table"></i> Register Conductor  </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register_vehicle' %}"  aria-expanded="false" aria-controls="submenu-7"><i class="fas fa-fw fa-table"></i>Register Vehicle <span class="badge badge-secondary">New</span></a>
                                    </li>
         -->
                                  
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- end left sidebar -->                
                <!-- end navbar and sidebar -->
             {% block content %}  
             {% endblock %}  
            <!-- end main wrapper  -->
            <!-- Optional JavaScript -->
            <!-- jquery 3.3.1 -->
            <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
            <!-- bootstap bundle js -->
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
            <!-- slimscroll js -->
            <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
            <!-- main js -->
            <script src="{% static 'libs/js/main-js.js' %}"></script>
            <!-- chart chartist js -->
            <script src="{% static 'vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
            <!-- sparkline js -->
            <script src="{% static 'vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
            <!-- morris js -->
            <script src="{% static 'vendor/charts/morris-bundle/raphael.min.js' %}"></script>
            <script src="{% static 'vendor/charts/morris-bundle/morris.js' %}"></script>
            <!-- chart c3 js -->
            <script src="{% static 'vendor/charts/c3charts/c3.min.js' %}"></script>
            <script src="{% static 'vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
            <script src="{% static 'vendor/charts/c3charts/C3chartjs.js' %}"></script>
            <script src="{% static 'libs/js/dashboard-ecommerce.js' %}"></script>
            <script>
                $('#form').parsley();
                </script>
                <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
                </script>
        </body>
         
        </html>