{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
      
        <div class="dashboard-wrapper" id="good">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Negative Feedback </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
 
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Driver Name</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Vehicle Number Plate</th>
                                                        <th class="border-0">Comment</th>
                                                        <th class="border-0">Status</th>
                                                        <th class="border-0">Action</th>

                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_2.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Rachel J. Wicker </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was drunk</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_3.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Peter Jinoki </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was drunk</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_4.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Chris Otieno </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was drunk</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_5.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Jane Njeri</td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was drunk</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>

                                                    
                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Customer Acquisition</h5>
                                    <div class="card-body">
                                        <div class="ct-chart ct-golden-section" style="height: 354px;"></div>
                                        <div class="text-center">
                                            <span class="legend-item mr-2">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Returning</span>
                                            </span>
                                            <span class="legend-item mr-2">

                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">First Time</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- end wrapper  -->

        <!-- conductor wrapper  -->
        <div class="dashboard-wrapper" id="bad">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- pageheader  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Positive Feedback </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item" aria-current="page">Positive Feedback</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end pageheader  -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Driver Name</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Vehicle Number Plate</th>
                                                        <th class="border-0">Comment</th>
                                                        <th class="border-0">Status</th>
                                                        <th class="border-0">Action</th>

                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_2.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Rachel J. Wicker </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was kind</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_3.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Peter Jinoki </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was polite</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_4.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Chris Otieno </td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was professional</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="assets/images/person_5.jpg" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>Jane Njeri</td>
                                                        <td>Lopha </td>
                                                        <td>KCB332N</td>
                                                        <td>Driver was nice</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                                        <td colspan="9"><a href="#" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Action</a></td>
                                                    </tr>

                                                    
                                                    <tr>
                                                        <td colspan="9"><a href="detailed_feedback.html" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->
                            <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Customer Acquisition</h5>
                                    <div class="card-body">
                                        <div class="ct-chart ct-golden-section" style="height: 354px;"></div>
                                        <div class="text-center">
                                            <span class="legend-item mr-2">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Returning</span>
                                            </span>
                                            <span class="legend-item mr-2">

                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">First Time</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                        

                      
                       
                    </div>
                </div>
            </div>
        </div>
{% endblock %}  
