{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
   
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Harrassment Against Women </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Feedback</th>
                                                        <th class="border-0">Time</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for b in harrassobj %}
                                                        {% if "women" in b.feedback_body or "girl" in b.feedback_body %}
                                                        <td>{{ b.number_plate }}</td>
                                                        <td>{{ b.sacco_name }}</td>
                                                        <td>{{ b.feedback_body }}</td>
                                                        <td>{{ b.time_sent }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                        </div>
                       

                      
                     
                       
                    </div>
                </div>
            </div>
        </div>
      
        <!-- conductor wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" id="worst">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Harrassment Against PWD</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Conductor Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        
                        <div class="row">
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Feedback</th>
                                                        <th class="border-0">Time</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for b in harrassobj %}
                                                        {% if b.feedback_about == "disabled" %}
                                                        <td>{{ b.number_plate }}</td>
                                                        <td>{{ b.sacco_name }}</td>
                                                        <td>{{ b.feedback_body }}</td>
                                                        <td>{{ b.time_sent }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end conductor wrapper  -->
{% endblock %}  
 
