{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}

         <!-- driver wrapper  -->
        <div class="dashboard-wrapper" id="drivers">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Critical Feedback Today </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">

                                              
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Driver Picture</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Route Number</th>
                                                        <th class="border-0">Number Plate</th>
                                                        
                                                        <th class="border-0">Driver Name</th>
                                                        <th class="border-0">Feedback</th>
                                                        <th class="border-0">Time Sent</th>
                                                        <th class="border-0">Sentiment</th>
                                                    </tr>
                                                </thead>
                                                    
                                                    <!-- dgfhj,m -->
                                                    <tbody>
                                                        <tr>
                                                            {% for f in criticalfeed %}
                                                            {% if "overspeeding" in f.feedback_body or "drunk" in f.feedback_body or "amelewa" in f.feedback_body or "haraka" in f.feedback_body %}
                                                            <td><img src="{{media_url}}{{ f.driver_picture }}" alt="user" class="rounded" width="45"></td>                                                            
                                                            <td>{{ f.sacco_name }}</td>
                                                            <td>{{ f.route_number}}</td>
                                                            <td>{{ f.number_plate }}</td>
                                                            <td>{{ f.driver_name }}</td>
                                                            <td>{{ f.feedback_body }}</td>
                                                            <td>{{ f.time_sent }}</td>
                                                            <td>{{ f.sentiment }}</td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                            
                                                    </tbody>

                                                    <!-- erdtgfhjbk -->
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

                        </div>
                    </div>
                </div>
           
        </div>
        <!-- end driver wrapper  -->

         <!-- driver wrapper  -->
         <div class="dashboard-wrapper" id="drivers">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Best Vehicles Today </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">

                                              
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Driver Name</th>
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Details</th>
                                                    </tr>
                                                </thead>
                                                    
                                                    <!-- dgfhj,m -->
                                                    <tbody>
                                                        <tr>
                                                            {% for f in drivers_ranking %}
                                                            {% if f.count > 5 %}
                                                            <td>
                                                                <div class="m-r-10"><img src="{{media_url}}{{ f.driver_picture }}" alt="user" class="rounded" width="45"></div>
                                                            </td>
                                                            <td>{{ f.driver_name }}</td>
                                                            <td>{{ f.number_plate }}</td>
                                                            <td>{{ f.sacco_name }}</td>
                                                            <td colspan="9"><a href="{% url 'detailed_report' num=f.number_plate %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>    
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                            
                                                    </tbody>

                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

                        </div>
                    </div>
                </div>
           
        </div>
        <!-- end driver wrapper  -->
           <!-- driver wrapper  -->
           <div class="dashboard-wrapper" id="drivers">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Lowest Rated Vehicles Today </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">

                                              
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Driver Name</th>
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Details</th>
                                                    </tr>
                                                </thead>
                                                    
                                                    <!-- dgfhj,m -->
                                                    <tbody>
                                                        <tr>
                                                            {% for f in drivers_ranking %}
                                                            {% if f.count < 5 %}
                                                            <td>
                                                                <div class="m-r-10"><img src="{{media_url}}{{ f.driver_picture }}" alt="user" class="rounded" width="45"></div>
                                                            </td>
                                                            <td>{{ f.driver_name }}</td>
                                                            <td>{{ f.number_plate }}</td>
                                                            <td>{{ f.sacco_name }}</td>
                                                            <td colspan="9"><a href="{% url 'detailed_report' num=f.number_plate %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>    

                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                            
                                                    </tbody>

                                                    <!-- erdtgfhjbk -->
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

                        </div>
                    </div>
                </div>
           
        </div>
        <!-- end driver wrapper  -->
        
        <!-- conductor wrapper  -->
        <div class="dashboard-wrapper" id="conductors" >
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Sacco Ratings Today </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Conductor Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Route</th>
                                                        <th class="border-0">Rating</th>
                                                        <th class="border-0">Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for b in saccos_ranking %}
                                                    <td>{{ b.sacco_name }}</td>
                                                    <td>{{ b.route_number}}</td>
                                                    <td>{{ b.count}}</td>
                                                    <td colspan="9"><a href="{% url 'detailed_sacco_report' num=b.sacco_name %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>    
                                                </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end conductor wrapper  -->

       
{% endblock %}  
