{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
    <!-- main wrapper -->  
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <ul>
                    {% for feedback in feedbacks %}
                    <li>{{ feedback.feedback_body }}
                        the message is {{feedback.sentiment }}</li>
                    {% endfor %}
                    <!-- somea template tags to get helop -->
                </ul>

               
                
            </div>
        </div>
    <!-- end main wrapper -->
{% endblock %}  