{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}

    <!-- main wrapper -->  
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title" style="text-align: center;font-size:xx-large;">Hello Admin, Welcome to Tripwatch! </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row" style="margin: auto;width:160%;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <img src="{% static 'images/tripwatch_logo.png' %}" 
                                style="margin-left: auto;margin-right: auto;display: block;width: 40%;"/>
                                <h5 class="card-header" style="font-size: large;text-align: center;">

                                    
                                </h5>
                                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                                    <form action="{% url 'admin_feedback_today' %}" method="get" novalidate="">
                                            <div class="col-sm-6 pl-0">
                                                    <button type="submit"  class="btn btn-space btn-primary">Click here to fetch today's unclassified feedback</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
                    </div>
           
            </div>
        </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
{% endblock %}  
