{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}

    <!-- main wrapper -->  
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Register Driver </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Register Driver</h5>
                                <div class="card-body">
                                    <form id="form" data-parsley-validate="" role = "form" method="POST" enctype='multipart/form-data' action="" novalidate="">
                                        {% csrf_token %}
                                        {{ form.as_p }}                                        
                                        <!-- <div class="form-group row">
                                            <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Name</label>
                                            <div class="col-9 col-lg-10">
                                                <input id="name" type="text" required="" data-parsley-type="name" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Number Plate</label>
                                            <div class="col-9 col-lg-10">
                                                <input id="number_plate" type="text" required="" data-parsley-type="numberplate" placeholder="Number Plate" class="form-control">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group row">
                                            <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Sacco Name</label>
                                            <div class="col-9 col-lg-10">
                                                <input id="sacco_name" type="text" required="" data-parsley-type="sacco_name" placeholder="Sacco Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Year Joined</label>
                                            <div class="col-9 col-lg-10">
                                                <input id="year_joined" type="text" required="" data-parsley-type="year_joined" placeholder="Year Joined" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">Driver Picture</label>
                                            <div class="col-9 col-lg-10">
                                                <input id="driver_picture" type="file" required="" data-parsley-type="file" placeholder="Driver Picture" class="form-control">
                                            </div>
                                        </div> -->
                                        
                                        <div class="row pt-2 pt-sm-5 mt-1">
                                            <div class="col-sm-6 pl-0">
                                                <p class="text-right">
                                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                                    <button class="btn btn-space btn-secondary">Cancel</button>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
                    </div>
           
            </div>
        </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
{% endblock %}  