{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
   
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Repeat Offenders - Vehicles </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Route Number</th>
                                                        <th class="border-0">Sacco Name</th>
                                                        <th class="border-0">General Feedback</th>
                                                        <th class="border-0">View Details</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for b in veh_obj %}
                                                        <td>{{ b.number_plate }}</td>
                                                        <td>{{ b.route_number }}</td>
                                                        <td>{{ b.sacco_name }}</td>
                                                        <td>{{ b.count }}</td>                                                    
                                                        <td colspan="9"><a href="{% url 'detailed_vehicle_report' num=b.number_plate %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Repeat Offenders - Saccos </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Sacco Name</th>
                                                        <th class="border-0">Route Number</th>
                                                        <th class="border-0">General Feedback</th>
                                                        <th class="border-0">View Details</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for b in neg_saccos %}
                                                        <td>{{ b.sacco_name }}</td>
                                                        <td>{{ b.route_number }}</td>
                                                        <td>{{ b.count }}</td>                                                    
                                                        <td colspan="9"><a href="{% url 'detailed_sacco_report' num=b.sacco_name %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
{% endblock %}  
 
