{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
   
    <!-- driver wrapper  -->
    <div class="dashboard-wrapper" id="drivers">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Critical Feedback Today </h2>
                            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <!-- ============================================================== -->
                    
                        <!-- ============================================================== -->

                                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">20th January 2019</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">

                                            
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Sacco</th>
                                                    <th class="border-0">Route Number</th>
                                                    <th class="border-0">Number Plate</th>
                                                    <th class="border-0">Driver Picture</th>
                                                    <th class="border-0">Driver Name</th>
                                                    <th class="border-0">Feedback</th>
                                                    <th class="border-0">Time Sent</th>
                                                    <th class="border-0">Sentiment</th>
                                                </tr>
                                            </thead>
                                                
                                                <!-- dgfhj,m -->
                                                <tbody>
                                                    <tr>
                                                        {% for f in driverfeedtoday %}
                                                        {% if "overspeeding" in f.feedback_body or "drunk" in f.feedback_body %}
                                                        <td>{{ f.sacco_name }}</td>
                                                        <td>{{ f.route_number}}</td>
                                                        <td>{{ f.number_plate }}</td>
                                                        <td><img src="{{media_url}}{{ f.driver_picture }}" alt="user" class="rounded" width="45"></td>                                                            
                                                        <td>{{ f.driver_name }}</td>
                                                        <td>{{ f.feedback_body }}</td>
                                                        <td>{{ f.time_sent }}</td>
                                                        <td>{{ f.sentiment }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                        
                                                </tbody>

                                                <!-- erdtgfhjbk -->
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->

                    </div>
                </div>
            </div>
        
    </div>
    <!-- end driver wrapper  -->
{% endblock %}  
 
