{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}

        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Harassment Details</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Reports</li>
                                            <li class="breadcrumb-item active" aria-current="page">Specific Driver Report</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                   
                    <div class="ecommerce-widget">

                        <div class="row">
                                <div class="card">
                                     <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Sacco Name</th>
                                                        <th class="border-0">Number Plate</th>
                                                        <th class="border-0">Sentiment</th>
                                                        <th class="border-0">Feedback Body</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for b in harrassment_feedback %}
                                                        <td>{{ b.sacco_name }}</td>
                                                        <td>{{ b.number_plate }}</td>
                                                        <td>{{ b.sentiment }}</td>
                                                        <td>{{ b.feedback_body }}</td>
                                                    </tr>
                                                        {% endfor %}
                                                     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- ============================================================== -->
                        </div>
                       
                      
                    </div>
                </div>
            </div>
            
        </div>
       


{% endblock %}  