{% load static %}
<html>
    <head>
        <style>
            /* div.background {
                background: url("{% static 'images/matatu.jpg' %}") repeat;
            } */
            body.background{
                background: url("{% static 'images/matatu.jpg' %}") repeat;
            }
            
            div.transbox {
                margin: 30px;
                background-color: #ffffff;
                border: 1px solid black;
                opacity: 0.9;
                position:relative;
            }
            
            div.transbox p {
                margin: 5%;
                font-weight: bold;
                font-family: 'Circular Std Book';
                color: #000000;
            }
        </style>
      </head>

      <body class="background">
        <div>
            <div class="transbox">
                <img src="{% static 'images/tripwatch_logo.png' %}" alt="Logo" width="170" height="100">
            <p>Welcome to Tripwatch!!!</p>
            <a href="{% url 'home'%}" 
            style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a>
            </div>
        </div>
      </body>

</html>

