{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}
   
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Our Best Stage Managers </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Driver Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Stage Manager Name</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Year Joined</th>
                                                        <th class="border-0">General Feedback</th>
                                                        <th class="border-0">More...</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for b in stageobj %}
                                                    <td>
                                                        <div class="m-r-10"><img src="{{media_url}}{{ b.stage_manager_picture }}" alt="user" class="rounded" width="45"></div>
                                                    </td>
                                                    <td>{{ b.name }}</td>
                                                    <td>{{ b.sacco_name }}</td>
                                                    <td>{{ b.year_joined }}</td>
                                                    <td>8.3</td>      
                                                    <td colspan="9"><a href="{% url 'detailed_report' %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
      
        <!-- conductor wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" id="worst">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Our Worst Stage Managers </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Conductor Ratings Today</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        
                        <div class="row">
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">20th January 2019</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Profile Picture</th>
                                                        <th class="border-0">Stage Manager Name</th>
                                                        <th class="border-0">Sacco</th>
                                                        <th class="border-0">Year Joined</th>
                                                        <th class="border-0">General Feedback</th>
                                                        <th class="border-0">More...</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for b in stageobj %}
                                                    <td>
                                                        <div class="m-r-10"><img src="{{media_url}}{{ b.stage_manager_picture }}" alt="user" class="rounded" width="45"></div>
                                                    </td>
                                                    <td>{{ b.name }}</td>
                                                    <td>{{ b.sacco_name }}</td>
                                                    <td>{{ b.year_joined }}</td>
                                                    <td>8.3</td>      
                                                    <td colspan="9"><a href="{% url 'detailed_report' %}" style="background-color: cornflowerblue;color:white" class="btn btn-outline-light">Detailed Report</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end conductor wrapper  -->
{% endblock %}  
 
