{% extends 'dashboard/base.html' %}
{% block content %} 
{% load static %}

        <div class="dashboard-wrapper" id="best">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Unclassfied Feedback List</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                   
                    <div class="ecommerce-widget">

                        <div class="row">
                                <div class="card">
                                     <div class="card-body p-0">
                                        <form action="" method="post" novalidate="">
                                            {% csrf_token %}
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="bg-light">
                                                        <tr class="border-0">
                                                            <th class="border-0">Message Sent</th>
                                                            <th class="border-0">Sentiment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            {% for b in feed_today %}
                                                            <td>{{ b.body }}</td>
                                                            <td><input name="feedback_body" value='{{b.body}}' type="hidden"></td>
                                                            <td><input name="day_received" value='{{b.date}}' type="hidden" ></td>
                                                            <td><input name="time_sent" value='{{b.time}}' type="hidden" ></td>
                                                            <td><input name="number_plate" value='{{b.number_plate}}' type="hidden" ></td>
                                                            <td><input name="feedback_about" value='driver' type="hidden" ></td>
                                                            <td><input name="sentiment" type="text" placeholder="Enter Sentiment"></td>
                                                        </tr>
                                                            {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card-body" >
                                                <div class="col-sm-6 pl-0">
                                                        <button type="submit"  class="btn btn-space btn-primary">Click here to update <br> feedback list</button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            <!-- ============================================================== -->
                        </div>
                       
                      
                    </div>
                </div>
            </div>
            
        </div>
       


{% endblock %}  